---
layout: default
---

<!-- Post Header -->
<style scoped>
    .intro-header {
        background-image: url('{% if page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% elsif page.header-img-cdn %}{{ page.header-img-cdn }}{% else %}{{ site.baseurl }}/{{ site.header-img }}{% endif %}');
    }
    @media (max-width: 767px) {
        .intro-header {
            background-image: url('{% if page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% elsif page.header-img-cdn-mini %}{{ page.header-img-cdn-mini }}{% else %}{{ site.baseurl }}/{{ site.header-img }}{% endif %}');
        }
    }
</style>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Publicado por {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} el {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}enero
    {% when '2' %}febrero
    {% when '3' %}marzo
    {% when '4' %}abril
    {% when '5' %}mayo
    {% when '6' %}junio
    {% when '7' %}julio
    {% when '8' %}agosto
    {% when '9' %}septiembre
    {% when '10' %}octubre
    {% when '11' %}noviembre
    {% when '12' %}diciembre
  {% endcase %}
  {{ page.date | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                {% include disqus.html %}

                {% comment %}
                  Navegación Anterior/Siguiente omitiendo posts de redirección
                  (marcados con hide_from_home: true), para que los redireccionamientos
                  de URLs renombradas no rompan el orden cronológico.
                {% endcomment %}
                {% assign visible_posts = site.posts | where_exp: "p", "p.hide_from_home != true" %}
                {% assign cur_index = nil %}
                {% for p in visible_posts %}
                    {% if p.url == page.url %}
                        {% assign cur_index = forloop.index0 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% assign prev_post = nil %}
                {% assign next_post = nil %}
                {% if cur_index %}
                    {% assign prev_i = cur_index | plus: 1 %}
                    {% assign prev_post = visible_posts[prev_i] %}
                    {% if cur_index > 0 %}
                        {% assign next_i = cur_index | minus: 1 %}
                        {% assign next_post = visible_posts[next_i] %}
                    {% endif %}
                {% endif %}

                <ul class="pager">
                    {% if prev_post %}
                    <li class="previous">
                        <a href="{{ prev_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title }}">&larr; Anterior</a>
                    </li>
                    {% endif %}
                    {% if next_post %}
                    <li class="next">
                        <a href="{{ next_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title }}">Siguiente &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
